<% url_help = Stationgrade::Application.routes.url_helpers %>

$(function(){
  
  $("body#home.index").find("#map").each(function() {
    
    var positionSuccess = function (position) {
      var here = new L.LatLng(position.coords.latitude, position.coords.longitude);
      initMap(here);
    };

    var positionError = function (message) {
      var center        = new L.LatLng( "40.717304", "-73.956872" )
      initMap(center);
    };
    
    var setupMarker = function(marker, properties) {
      marker._id = properties.id;
      
      marker.on("click", function(event){
        var marker = this;
        
        $.get( '<%= url_help.stop_path("CHANGEME") %>'.replace(/CHANGEME/, marker._id), function(data){
          marker.bindPopup(data.view);
          marker.openPopup();
        }, "json");
      });
    };
    
    var initMap = function( center ) {
      var container = $(this),
          map       = new L.Map('map');

      map.setView( center, 17).addLayer(
        new L.TileLayer("http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png", {
          maxZoom: 18, 
          attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">'
        })
      );

      $.getJSON( location.href, function(data){
        var geojson = new L.GeoJSON();

        geojson.on('featureparse', function(e) {
          setupMarker(e.layer, e.properties)
        });

        geojson.addGeoJSON(data);
        map.addLayer(geojson);

      });
      
      // toggle the new incident form on the station popup
      // leaflet steals the click event, grrrr
      $("div.new_incident > a").live( "mouseup", function(e){
        e.preventDefault();
        $(this).hide().parent().find(".new_incident_form").show();
      });

      // form submit within popup, refresh station info
      $("form#new_incident").live( "submit", function(e){
        e.preventDefault();
        var form = $(this);
        $.post(form.attr("action"), form.serialize(), function(data){
          form.parents(".leaflet-popup-content").html(data.view);
        }, "json");
      });
    };
    
    navigator.geolocation ? 
      navigator.geolocation.getCurrentPosition(positionSuccess, positionError) : 
      positionError('not supported');
    

  });
});