<!DOCTYPE html>
<html>
<head>
  <title>Stationgrade</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<div id="notices">
  <% content_tag :p, notice, :class => "notice" if notice.present? %>
  <% content_tag :p, alert, :class => "alert" if alert.present? %>
</div>
</body>
</html>
